extends layout

block content
  body.admin
  
    div.side-nav
      center
        br
        i.logo.fa.fa-globe
      br
      br
      br
      div.nav-tab.active-tab
        text Satellites
      div.nav-tab
        text Logs
      div.nav-tab
        text Settings
  
    div.info-nav
      div.actions
        a.add-item(href="#") ADD
      br
      br
      br

      div.heading Satellites
      br
      br
      
      div.details
  
    div.section
      div.stars
        div.system
          div#sun
            
      
    div.info-modal
      text.item-name
      
    div.add-modal
      form.add-item-form
        input(type="text" placeholder="What are you keeping track of?" autofocus)
            
            
            
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="/javascripts/admin.js")