extends layout

block content
  body.admin
  
    div.side-nav
      text Currently Tracking
  
    div.section
      div.stars
        div.system
          div#sun
          div.orbit.orbit1
            div.planet.planet1
          div.orbit.orbit2
            div.planet.planet2
          div.orbit.orbit3
            div.planet.planet3