extends layout

block content
  body.landing
    div.landing-nav
      a(href="#") Log In
      a(href="#") Sign Up
    div.section
      div.stars
        div.brand-title
          text ORBIT
          div.sub-title.
            like, seriously, quit losing your shit
        div.system
          div#sun
          div#earth-orbit
            div#earth
            div#moon-orbit
              div#moon


