doctype html
html
  head
    title Track the Planet
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/solar.css')
  body
    block content
    script(src='/javascripts/main.js')
