<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
script(src="//code.jquery.com/jquery-1.11.3.min.js")
script(src='/javascripts/login.js')

link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/login.css')

div#stars
div#stars2
div#stars3

center
  div.login
    h1#titleswitch Login
    form#padfix
      input.email(type="email", placeholder="Email")
      input.pass(type="password", placeholder="Password")
      input#button1(type="submit", placeholder="Log in")
      div.register-flavor
        a(href="#lol").register-link#goregister Need an account?

