html, body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}



/**
*
*   Landing page
*
**/

.landing {
  
}

.landing .section {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: calc(100% - 60px);
}


.landing-nav {
  position: absolute;
  top: 0;
  width: calc(100% - 40px);
  padding: 20px;
  z-index: 2;
}

  .landing-nav a {
    float: right;
    color: white;
  }